@{
    ViewData["Title"] = "Home Page";
    Layout = "_MenuLayout";
}

<body>
    
	<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Create User</a></li>
			<li class="breadcrumb-item active">Create User</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">User <small></small></h1>
			<!-- end page-header -->
		
			<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Create User</h4>
					<div class="panel-heading-btn">
						
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					
					<form>
						<div class="form-group row m-b-15">
							<label class="col-form-label col-md-3">Name</label>
							<div class="col-md-9">
								<input type="text" class="form-control m-b-5" placeholder="Name" />
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-form-label col-md-3">User Name</label>
							<div class="col-md-9">
								<input type="text" class="form-control m-b-5" placeholder="User Name" />
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-form-label col-md-3">Email address</label>
							<div class="col-md-9">
								<input type="email" class="form-control m-b-5" placeholder="Email address" />
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-form-label col-md-3">Address</label>
							<div class="col-md-9">
								<input type="email" class="form-control m-b-5" placeholder="Email address" />
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-form-label col-md-3"></label>
							<div class="col-md-9">
								<button type="submit" class="btn btn-lg btn-primary m-r-5">Submit</button>
							</div>
						</div>
						
						@* <div class="form-group row m-b-15">
							<label class="col-form-label col-md-3">Example select</label>
							<div class="col-md-9">
								<select class="form-control">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
						</div> *@
						
					</form>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
			
		</div>
			
		</div>
		<!-- end #content -->
    
</body>


