@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<style>
    .icon-box2 {
        border: 1px solid #d5e1ed;
        /* text-align: center; */
        padding: 20px; /* optional, for spacing */
        border-radius: 8px; /* optional, gives nice rounded corners */
    }

    .btn-get-starting {
        font-family: "Raleway", sans-serif;
        /* text-transform: uppercase; */
        text-align: center;
        margin: 0px 18%;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 1px;
        /*display: inline-block;*/
        padding: 2px 35px;
        margin-top: 30px;
        border-radius: 50px;
        transition: 0.5s;
        color: #fff;
        /* background: #2c4964; */
        background: #0C3256;
    }

    .btn-get-starto {
        font-family: "Raleway", sans-serif;
        text-align: center;
        font-weight: 600;
        font-size: 10px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 2px 20px;
        margin-bottom: 20px;
        border-radius: 50px;
        transition: 0.5s;
        color: #fff;
        /* background: #2c4964; */
        background: #0C3256;
    }

    .icon-box1 {
        border: 1px solid #d5e1ed;
        text-align: center;
        padding: 20px; /* optional, for spacing */
        border-radius: 8px; /* optional, gives nice rounded corners */
    }

    .certi {
        font-family: "Raleway", sans-serif;
        /* text-transform: uppercase; */
        text-align: center;
        margin: 0px 18%;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 1px;
        /*display: inline-block;*/
        padding: 12px 35px;
        margin-top: 30px;
        border-radius: 10px;
        transition: 0.5s;
        color: #fff;
        /* background: #2c4964; */
        background: #0C3256;
    }

</style>

<body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="input-group input-group-static">
                        <a href="#" class="btn-get-starto scrollto"><img src="assets/img/icon/Group 84.png" style="height:20px; width:20px;" alt="" class="img-fluid">Trusted Verification Platform</a>
                        <h1>
                            Verify Credentials. <br /> Build Trust. <br /> Anywhere.
                        </h1>
                        <h4>
                            Fast, secure, and effortless verification for <br />
                            institutions, employers, and individuals. <br />
                            Your shield against credential fraud
                        </h4>

                        <div class="button-row text-end mt-4">
                            <a href="#" class="btn-get-started scrollto" onclick="openOnboardingModal()"><img src="assets/img/icon/check.png" style="height:20px; width:20px;color:#fff; margin-right:10px;" alt="" class="img-fluid">Get Started</a>
                            <a href="#" class="btn-get-start scrollto">See how it works</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                    <div class="input-group input-group-static">
                        <img src="assets/img/Certti1.png" style="height:90%; width:100%; border-radius:20px;" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->


    <main id="main">

        <section id="services" class="services mt-5">
            <div class="container mt-5">

                <div class="section-title text-center mt-5">
                    <h4 style="font-weight: 400;">Trusted by Institutions in Nigeria and beyond </h4>
                </div>

                <div class="row justify-content-center mt-3">
                    <div class="row">
                        <div class="col-lg-1 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        </div>
                        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <img src="assets/img/2.png" style="height:90%; width:100%;" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <img src="assets/img/3.png" style="height:90%; width:100%;" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <img src="assets/img/4.png" style="height:90%; width:100%;" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <img src="assets/img/8.png" style="height:90%; width:100%;" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <img src="assets/img/5.png" style="height:90%; width:100%;" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-1 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        </div>
                        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <img src="assets/img/9.png" style="height:90%; width:100%;" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <img src="assets/img/6.png" style="height:90%; width:100%;" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <img src="assets/img/7.png" style="height:90%; width:100%;" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <img src="assets/img/1.png" style="height:90%; width:100%;" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <img src="assets/img/10.png" style="height:90%; width:100%;" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-1 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/img/icon/Vector.png" style="height:20px; width:20px; margin-right:10px;" alt="" class="img-fluid">Bank Grade Security
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/img/icon/sheild.png" style="height:20px; width:20px; margin-right:10px;" alt="" class="img-fluid">GDPR Compliant
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/img/icon/globe.png" style="height:20px; width:20px; margin-right:10px;" alt="" class="img-fluid">Global coverage
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>

            </div>
        </section>

        <section id="services" class="services">
            <div class="container">

                <div class="section-title text-center">
                    <h2>The Old Way is Broken </h2>
                    <p>
                        Traditional credential verification is slow, risky, and lacks transparency
                    </p>
                </div>

                <div class="row justify-content-center">

                    <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box" style="border: 2px solid #DC262647;">
                            <div class="icon"><img src="assets/img/icon/clock-three.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">Slow and manual processes</a></h4>
                            <p>
                                Weeks of back-and-forth emails <br />
                                and phone calls
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box" style="border: 2px solid #F59E0B47;">
                            <div class="icon"><img src="assets/img/icon/sheild.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">High risk of fraud</a></h4>
                            <p>
                                No reliable way to detect <br />
                                fake credentials
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box" style="border: 2px solid #E2E8F0;">
                            <div class="icon"><img src="assets/img/icon/search.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">No transparency or tracking</a></h4>
                            <p>
                                You never know where your <br />
                                verification stands
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section id="services" class="services">
            <div class="container">

                <div class="section-title text-center">
                    <h2>Verification Made Simple</h2>
                    <p>
                        Our streamlined process gets you verified on time
                    </p>
                </div>

                <div class="row justify-content-center">

                    <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><img src="assets/img/icon/Group 76.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">Submit Your Documents</a></h4>
                            <p>
                                Upload securely in minutes <br />
                                with our encrypted platform
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><img src="assets/img/icon/Group 75.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">We Verify</a></h4>
                            <p>
                                Real-time progress tracking <br />
                                with prompt status updates
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><img src="assets/img/icon/Group 77.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">Get Results</a></h4>
                            <p>
                                Share digitally or download <br />
                                instantly with verification badge
                            </p>
                        </div>
                    </div>

                </div>

                <div class="btn-get-starting mt-5">
                    <a href="#" class="btn-get-started scrollto"><img src="assets/img/icon/Group 87.png" style="height:40px; width:40px;" alt="" class="img-fluid">Fast Verification Timeframe </a>
                </div>
            </div>
        </section>



        <!-- ======= About Section ======= -->
        <section id="about" class="about" style="padding: 5% 5%;">
            <div class="container-fluid">


                <div class="section-title" style="text-align: left; padding-bottom:0px;">
                    <h2 style="position: inherit; padding-bottom:0px;">Why choose CertiTrack </h2>
                    <p style="font-weight:400; font-size:20px;">
                        We've reimagined credential verification from the ground up
                    </p>
                </div>

                <div class="row p-5">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="icon-box">
                                    <div class="icon"><img src="assets/img/icon/Group 87.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                                    <h4 class="title"><a href="">End-To-End Automation</a></h4>
                                    <p class="description">
                                        From submission to confirmation,
                                        CertiTrack automates the
                                        verification lifecycle—saving time,
                                        reducing manual errors, and
                                        improving operational efficiency
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="icon-box">
                                    <div class="icon"><img src="assets/img/icon/Group 89.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                                    <h4 class="title"><a href="">Bank Grade Security</a></h4>
                                    <p class="description">
                                        End-to-end encryption and
                                        blockchain-ready infrastructure
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="icon-box">
                                    <div class="icon"><img src="assets/img/icon/Group 88.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                                    <h4 class="title"><a href="">Scalable and Secure</a></h4>
                                    <p class="description">
                                        Built with enterprise-grade security
                                        and scalability, CertiTrack is
                                        designed to handle the needs of
                                        small organizations and large
                                        institutions alike
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="icon-box">
                                    <div class="icon"><img src="assets/img/icon/Group 90.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                                    <h4 class="title"><a href="">Real-Time Status Tracking</a></h4>
                                    <p class="description">
                                        Stay informed at every stage with
                                        real-time status updates, audit trails,
                                        and clear communication between
                                        applicants and verifiers
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row p-5" style="border: 1px solid #0C3256; border-radius:10px; margin: 10%;">
                            <div class="icon-box mt-0">
                                <div class="icon"><img src="assets/img/icon/Group 82.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                                <h6 class="title"><a href="">99.8% Accuracy Rate</a></h6>
                                <h6 class="description">
                                    Industry leading verification
                                </h6>
                            </div>
                            <div class="icon-box mt-2">
                                <div class="icon"><img src="assets/img/icon/Group 83.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                                <h4 class="title"><a href="">Global coverage</a></h4>
                                <h6 class="description">
                                    Global reach
                                </h6>
                            </div>
                            <div class="icon-box mt-2">
                                <div class="icon"><img src="assets/img/icon/Group 84.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                                <h4 class="title"><a href="">Zero Fraud</a></h4>
                                <h6 class="description">
                                    Advanced detection algorithms
                                </h6>
                            </div>
                            <div class="icon-box mt-2">
                                <div class="icon"><img src="assets/img/icon/Group 85.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                                <h4 class="title"><a href="">No Data Retention</a></h4>
                                <h6 class="description">
                                    When no longer needed, your data will be securely deleted or anonymised.
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->

        <section id="services" class="services p-0">
            <div class="container">

                <div class="section-title text-center">
                    <h2>Who We Work With </h2>
                    <p>
                        Trusted by institutions, employers, and individuals worldwide
                    </p>
                </div>

                <div class="row justify-content-center">

                    <div class="col-lg-3 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><img src="assets/img/icon/Group 28.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">Tertiary Institutions</a></h4>
                            <p>
                                Protect your reputation with <br /> instant, fraud-proof verification
                            </p>
                            <h6>
                                Bulk verification processing <br />
                                White-label solutions <br />
                                API integration support
                            </h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><img src="assets/img/icon/Group 35.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">Employers</a></h4>
                            <p>
                                Hire faster and with confidence <br /> using verified credentials
                            </p>
                            <h6>
                                Background check integration <br />
                                Team collaboration tools <br />
                                Compliance reporting
                            </h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><img src="assets/img/icon/Group 42.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">Professional Bodies </a></h4>
                            <p>
                                Maintain professional standards <br /> with verified certifications
                            </p>
                            <h6>
                                Membership credential verification <br />
                                Continuing education tracking <br />
                                Professional license management
                            </h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><img src="assets/img/icon/Group 49.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">Government Agencies / NGOs</a></h4>
                            <p>
                                Ensure public trust through secure, <br /> transparent verification
                            </p>
                            <h6>
                                Regulatory compliance management <br />
                                Licensed professional tracking <br />
                                Security clearance support
                            </h6>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section id="services" class="services" style="padding: 5% 15%;">
            <div class="container">

                <div class="section-title text-center">
                    <h2>Our Services </h2>
                    <p@*  style="font-weight:400; font-size:22px;" *@>
                        CertiTrack provides secure certificate and transcript verification services, handling <br /> requests, direct validation with issuing institutions, and submission of verified <br /> transcripts on behalf of holders to requesting organisations.
                        </p>
                </div>

                <div class="row justify-content-center">

                    <div class="col-lg-6 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><img src="assets/img/icon/Group 59.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">Certificate Verification</a></h4>
                            <p>
                                Certificate Verification Services
                            </p>

                            <div class="button-row text-center mt-4">
                                <a href="#" class="certi scrollto"><img src="assets/img/icon/check.png" style="height:20px; width:20px; margin-right:10px;" alt="" class="img-fluid">Verify Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><img src="assets/img/icon/Group 56.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">Transcript Verification</a></h4>
                            <p>
                                Transcript Verification Services
                            </p>

                            <div class="button-row text-center mt-4">
                                <a href="#" class="certi scrollto"><img src="assets/img/icon/check.png" style="height:20px; width:20px; margin-right:10px;" alt="" class="img-fluid">Verify Now</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section id="about" class="about" style="padding: 5% 15%;">
            <div class="container">

                <div class="section-title text-center">
                    <h2>See It In Action </h2>
                    <p@*  style="font-weight:400; font-size:22px;" *@>
                        Watch how CertiTrack transforms credential verification
                        </p>
                </div>

                <div class="row justify-content-center">

                    <div class="col-lg-8 col-md-6 align-items-stretch mt-4 mt-md-0">

                        <video controls style="max-width: 100%; height: auto; border-radius: 60px;">
                            <source src="/video/CERTITRACK_VIDEO.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>


                    <div class="button-row text-center mt-5">
                        <a href="#" class="certi scrollto"><img src="assets/img/icon/check.png" style="height:20px; width:20px; margin-right:10px;" alt="" class="img-fluid">Verify Now</a>
                    </div>
                </div>

            </div>
        </section>


        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Frequently asked questions </h2>
                    <p>
                        Find answers to the most commonly asked questions <br />
                        about our services, features, and processes.
                    </p>
                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What can I do on this CertiTrack Portal? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                <p>
                                    Request your Certificate or Transcript.<br />Request for replacement certificates or Confirmation letters( Transcript) directly through the portal
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Who can request Documents ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Students , Organisations , Professional bodies, NGOs, Governments,- using their login credentials <br />Agents - Third Parties (e.g Employers ) may request documents on behalf of their employees
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">How do I login? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    First time request will click on the Get started button  to enrol, create an account   via a link sent to the email provided <br /> Complete the user's details and click 'Read disclaimer' before clicking the 'Complete Registration' button.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">As an employer when will the documents arrive? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    After making a request<br /> Schools respond time to sending credentials is 2-18 working days from the day of request ' However sending times may vary from schools  and can get delayed by school inability to match your record to their record.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">I'm an employer/Agent - How do I request on behalf ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Have all the employees details Use the Requester , input all the employees details via the user creation link sent via the email provided
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">What fees apply? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Detailed fees are seen during the checkout on the portal
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="600">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">What if I encounter issues ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Missing name mismatch . Refer to your initial certificate or ask your school for help <br />Login or upload problems: Ensure all fields are complete and file format are correct JPEG <br />Order payment fails: Check your payment details and ensure all details are correct .
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->

        <section class="services" style="padding: 5% 15%;">
            <div class="container">

                <div class="section-title text-center">
                    <h2>Enterprise-Grade Security </h2>
                    <p>
                        Your data is protected by industry-leading security standards
                    </p>
                </div>

                <div class="row justify-content-left">

                    <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box" style="border: 2px solid #0C325699;">
                            <div class="icon"><img src="assets/img/icon/Group 70.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">Fraud Detection & Prevention</a></h4>
                            <p>
                                Advanced algorithms help
                                detect red flags <br /> and
                                anomalies, helping your
                                organization <br /> avoid
                                reputational and legal risks
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box" style="border: 2px solid #C19D5299;">
                            <div class="icon"><img src="assets/img/icon/Group 72.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">Seamless Integration</a></h4>
                            <p style="text-align:left;">
                                CertiTrack easily integrates
                                with your <br /> existing HR,
                                academic, or onboarding <br />
                                systems—ensuring a
                                smooth digital workflow
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box" style="border: 2px solid #E2E8F0;">
                            <div class="icon"><img src="assets/img/icon/Group 73.png" style="height:40px; width:40px;" alt="" class="img-fluid"></div>
                            <h4><a href="">Dedicated Support</a></h4>
                            <p>
                                Enjoy access to a
                                responsive support <br /> team
                                that understands your
                                needs <br /> and helps you get
                                the most out <br /> of CertiTrack
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact" style="padding: 5% 15% 0% 15%;">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact us for further questions</p>
                </div>
            </div>

            <div class="container">
                <div class="row mt-5 mb-4">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>
                                    2/4 Vincent Ezeh Street, Opposite Chivita 2nd Gate, Ajao Estate, Off Murtala Muhammed International Airport Road, Lagos.
                                </p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@certitrack.org</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+234 8086 8019 78</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>

                    </div>

                </div>

            </div>

            <div class="mt-5">
                @* <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe> 
                <iframe style="border:0; width: 100%; height: 350px;" src="https://maps.app.goo.gl/AZeu2t5nkPzgkDQ18" frameborder="0" allowfullscreen></iframe>*@
                @*  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.35778829892!2d3.342479073975302!3d6.602382322243749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b922edda9ee83%3A0x2c22a24e471ee234!2s19%2F21%20Oritshe%20St%2C%20Omole%20Phase%201%2C%20Lagos%20101233%2C%20Lagos!5e0!3m2!1sen!2sng!4v1752151549622!5m2!1sen!2sng" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> *@
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3963.7776175517647!2d3.32346847397493!3d6.549737822859968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s2%2F4%20Vincent%20Ezeh%20Street%2C%20Opposite%20Chivita%202nd%20Gate%2C%20Ajao%20Estate%2C%20Off%20Murtala%20Muhammed%20International%20Airport%20Road%2C%20Lagos.!5e0!3m2!1sen!2sng!4v1754135089750!5m2!1sen!2sng" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section><!-- End Contact Section -->

    </main>
    <!-- End #main -->
    <!-- Onboarding Modal -->
    <!-- Onboarding Modal -->
    <div class="onboarding-modal-overlay" id="onboardingModal" onclick="closeOnboardingModal()">
        <div class="onboarding-modal-content" onclick="event.stopPropagation()">
            @* <h1 class="logo me-auto text-center" style="font-size: 1.2rem;"> *@
            <h1 class="logo me-auto text-center mb-3" style="font-size: 1.5rem;">
                <a href="/">
                    <img src="/assets/img/CerttiLogo.png" style="height:60px; width:180px;" alt="Certitrack Logo" class="img-fluid">
                </a>
            </h1>

            <h3 class="mb-3">Begin Onboarding</h3>

            <input type="email" placeholder="Email" id="onboardingEmail" class="form-control mb-3" required />

            <select id="onboardingRole" class="form-control mb-3">
                <option value="">Loading roles...</option>
            </select>

            <select id="onboardingOrgType" class="form-control mb-4">
                <option value="">Loading organisation types...</option>
            </select>

            <div class="d-flex justify-content-center gap-2 mb-4">

                <button class="btn btn-primary me-2" onclick="submitOnboarding()">Submit</button>
                <button class="btn btn-secondary" onclick="closeOnboardingModal()">Cancel</button>
            </div>
        </div>
    </div>




    @*  @section Scripts
    {
        <script>

             function openOnboardingModal() {
                    document.getElementById('onboardingModal').style.display = 'flex';
                    loadOnboardingDropdowns();
                }

                // Close Modal
                function closeOnboardingModal() {
                    document.getElementById('onboardingModal').style.display = 'none';
                }

            $(document).ready(function () {
                   // Open Modal


                        // Load roles
            $.get('/Home/LoadRoles', function (data) {
                const roleSelect = $('#roleSelect');
                roleSelect.empty().append('<option value="">Select Role</option>');
                $.each(data, function (i, role) {
                    roleSelect.append(`<option value="${role.id}">${role.name}</option>`);
                });
            });

            // Load organization types
            $.get('/Home/LoadOrganizationTypes', function (data) {
                const orgSelect = $('#orgSelect');
                orgSelect.empty().append('<option value="">Select Organization</option>');
                $.each(data, function (i, org) {
                    orgSelect.append(`<option value="${org.id}">${org.name}</option>`);
                });
            });

            // Submit form via AJAX
            $('#onboardingForm').on('submit', function (e) {
                e.preventDefault();

                const payload = {
                    Email: $('#onboardingEmail').val(),
                    RoleId: $('#roleSelect').val(),
                    OrganizationTypeId: $('#orgSelect').val()
                };

                $.post('/Home/SubmitOnboarding', payload, function (res) {
                    if (res.success) {
                        alert('Onboarding started successfully!');
                        $ document.getElementById('onboardingModal').style.display = 'none'; // Or your preferred close logic
                    } else {
                        alert(res.message || 'Submission failed.');
                    }
                });
            });

                // Optional: Close modal when clicking outside
                // window.onclick = function (event) {
                //     const modal = document.getElementById("onboardingModal");
                //     if (event.target === modal) {
                //         closeOnboardingModal();
                //     }
                // };
                         // Close modal when clicking outside the content
                document.getElementById('onboardingModal').addEventListener('click', function () {
                    closeOnboardingModal();
                });
            });
        </script> *@
    @section Scripts {
        <script>
            function openOnboardingModal() {
                //$('#onboardingModal').fadeIn();
                document.getElementById('onboardingModal').style.display = 'flex';
                loadOnboardingDropdowns();
            }

            function closeOnboardingModal() {
               // $('#onboardingModal').fadeOut();
                document.getElementById('onboardingModal').style.display = 'none';
            }

                       function loadOnboardingDropdowns() {
                $.get('/Home/GetRoles', function (roles) {
                    $('#onboardingRole').empty().append('<option value="">Select Role</option>');
                    roles.forEach(function (role) {
                        $('#onboardingRole').append(`<option value="${role.value}">${role.text}</option>`);
                    });
                });

                $.get('/Home/GetOrganizationTypes', function (orgTypes) {
                    $('#onboardingOrgType').empty().append('<option value="">Select Organisation Type</option>');
                    orgTypes.forEach(function (type) {
                        $('#onboardingOrgType').append(`<option value="${type.value}">${type.text}</option>`);
                    });
                });
            }


            // $('#submitOnboarding').submit(function (e) {
            //     e.preventDefault();

            //     const data = {
            //         email: $('#email').val(),
            //         role: $('#roleSelect').val(),
            //         organizationType: $('#orgTypeSelect').val()
            //     };

            //     $.ajax({
            //         type: 'POST',
            //         url: '/Home/SelfService',
            //         data: data,
            //         success: function () {
            //             alert('Onboarding started. Please check your email.');
            //             closeOnboardingModal();
            //         },
            //         error: function () {
            //             alert('Failed to start onboarding.');
            //         }
            //     });
            // });
            function submitOnboarding() {
                const data = {
                    email: $('#onboardingEmail').val(),
                    role: $('#onboardingRole').val(),
                    organizationType: $('#onboardingOrgType').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Home/SelfService',
                    data: data,
                    success: function () {
                        alert('Onboarding started. Please check your email.');
                        closeOnboardingModal();
                    },
                    error: function () {
                        alert('Failed to start onboarding.');
                    }
                });
            }

        </script>
    }

    }

</body>


