@{
    ViewData["Title"] = "Home Page";
    Layout = "_MenuLayout";
}

<body>
    
	<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
			<li class="breadcrumb-item"><a href="javascript:;">Upload Credential</a></li>
			<li class="breadcrumb-item active">Upload Credential</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Credential <small></small></h1>
			<!-- end page-header -->
		
			<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Upload Credential</h4>
					<div class="panel-heading-btn">
						
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					
					<form>
						<div class="form-group row m-b-15">
							<label class="col-form-label col-md-3">Credential Number</label>
							<div class="col-md-9">
								<input type="text" class="form-control m-b-5" placeholder="Name" />
							</div>
						</div>
						<div class="form-group row m-b-10">
							<label class="col-form-label col-md-3">Upload Form *</label>
							@* <label class="col-lg-3 text-lg-right col-form-label">Upload Form *</label> *@
							<div class="col-lg-9 col-xl-6">
								<span class="btn btn-primary fileinput-button m-r-3">
									<i class="fa fa-fw fa-plus"></i>
									<span>Add file...</span>
									<input type="file" name="ImageFile" required />
								</span>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-form-label col-md-3"></label>
							<div class="col-md-9">
								<button type="submit" class="btn btn-lg btn-primary m-r-5">Submit</button>
							</div>
						</div>
					</form>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
			
		</div>
			
		</div>
		<!-- end #content -->
    
</body>


